.game_ {
  display: grid;
  grid-template-columns: 91px 91px;
  grid-template-rows: 104px 104px 104px;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
.pnn {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.pnn button {
  background: #ffe100;
  width: 78px;
  height: 41px;
  border-radius: 10px;
  font-weight: 500;
  line-height: 21.48px;
  font-size: 18px;
  color: #fff;
  border: none;
}
.dvd_box {
  position: relative;
  display: flex;
  align-items: center;
}
.dvd_box .ddvd {
  position: absolute;
  left: 0px;
  transition: all ease .5s;
  z-index: -1;
}
.pnn button:disabled {
  display: none;
}