header {
  width: 100%;
  height: 53px;
  background: #0a0a0a;
  display: flex;
  align-items: center;
  padding: 10px;
  position: absolute;
  left: 0;
  top: 0;
  gap: 8px;
}
.header_block {
  background: #000000;
  height: 33px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  gap: 6px;
  padding-left: 10px;
  padding-right: 10px;
}
.header_block p {
  color: #fff;
  font-weight: 500;
  font-size: 19px;
  line-height: 22.67px;
}
