@font-face {
  font-family: 'IOS font';
  src: url('./fonts/SFPRODISPLAYMEDIUM.OTF') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'IOS font';
  src: url('./fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IOS font';
}
body {
  width: 100%;
  background: rgba(0, 0, 0, 1);
}
#root {
  display: flex;
  justify-content: center;
  width: 100%;
}
.data {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 550px;
  max-height: 100vh;
  position: relative;
  overflow: auto;
  overflow-x: hidden;
}